/*Language flag style*/
div.languages-flags {
    display: block;
}
/*Language flag images style*/
div.languages-flags img {
    display: block;
    float: right;
    max-height: 10px;
    max-width: 20px;
    padding: 5px;
}
/*Clears div style*/
.clear {
    clear: both;
    height: 0;
    width: 0;
    font-size: 1px;
    line-height: 0;
}
/*Tooltip general style*/
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip img{
    max-width: 10px;
    max-height: 10px;
}
/*Tooltip text style*/
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
}
/*Tooltip text style when hovered*/
.tooltip:hover .tooltiptext {
    visibility: visible;
    font-size: 15px;
}
/*h1 title style*/
h1{
    text-align: center;
    margin-top: 100px;
}
/*links style*/
a{
    text-align: center;
}
/*paragaph style*/
p{
    text-align: center
}

#loginoutbutton{
    text-align: center;
}
/*google map*/
#map{
    height: 400px;
    width:100%;
}

/* The navigation bar */
.navigationbar {
    overflow: hidden;
    background-color: #FAEBD7;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Links inside the navbar */
.navigationbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100px;
}

/* Change background on mouse-over */
.navigationbar a:hover {
    background: #DEB887;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}